/* About Us */
.header h1 {
  color: #F2921D;
}

.team-member {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 1em;
  transition: transform 0.3s ease;
  margin: 0.5em;
}

.about-row {
  display: flex;
  flex-wrap: nowrap;
}

.team-member:hover {
  transform: scale(1.05);
  border-color: #007bff;

}

.team-member img {
  width: 100px;
  height: 100px;
}