.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-page h2 {
    color: orange;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
    font-size:20px
}
.contact-info p i {
    font-weight: lighter;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.contact-form button:hover {
    background-color: #555;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.social-media a:hover {
    text-decoration: underline;
}