/* CSS Variables */
:root {
    --primary-color: #3267b4;
    --secondary-color: #F06D1A;
    --light-gray: #f5f5f5;
    --dark-gray: #474747;
    --shadow-color: #4589ED;
    --white-color: #fefefe;
    --text-dark: #030102;
    --font-main: 'Poppins', sans-serif;
    --font-size-lg: 2em;
    --font-size-md: 1.5em;
    --font-size-sm: 1em;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --border-radius: 1em;
    --transition-speed: 0.3s;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    color: var(--text-dark);
}

h1,
h2,
h3 {
    margin: 0.75em 0;
}

/* Hero Section */
.jumbotron {
    position: relative;
    background: url('../../assets/images/TDM-hero.webp') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22em 0;
    max-width: 100%;
    height: auto;
}

/* Welcome Section */
.welcome-heading {
    text-align: center;
    font-size: 3em;
    font-weight: var(--font-weight-bold);
}

.welcome-text {
    text-align: center;
    font-size: 1.2em;
    padding: 0 5em;
}

/* Services Section */
#services-section {
    text-align: center;
}

.services-heading {
    text-align: center;
    font-size: 3em;
    font-weight: var(--font-weight-bold);
}

.services-text {
    text-align: center;
    font-size: 1.2em;
    padding: 0 5em;
}

.services-area h2 {
    font-weight: var(--font-weight-normal);
}

.services-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.25em;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid var(--primary-color);
    background-color: var(--light-gray);
    transition: box-shadow var(--transition-speed);
    box-shadow: 0 1px 3px var(--shadow-color), 0 1px 2px var(--shadow-color);
    justify-content: space-between;
}

.service-item h3 {
    font-size: 1.25em;
    color: var(--dark-gray);
    font-weight: var(--font-weight-bold);
}

.service-item:hover {
    box-shadow: 0 14px 28px var(--shadow-color), 0 10px 10px var(--shadow-color);
}

/* Button Styles */
.learn-more-button,
.btn-service {
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 25px;
    transition: all var(--transition-speed) ease;
}

.learn-more-button {
    color: var(--text-dark);
    padding: 10px 20px;
    border: 2px solid #000000b3;
    background-color: var(--secondary-color);
}

.learn-more-button:hover {
    background-color: transparent;
    border-color: var(--secondary-color);
    cursor: pointer;
}

.btn-service {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-service:hover {
    background-color: #152b4d;
}

/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.lightbox-content {
    width: 80%;
    max-width: 600px;
    background-color: var(--light-gray);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.lightbox .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

/* Packages Section */
.packages-section {
    padding: 1em 0;
    text-align: center;
}

.package-title {
    font-size: var(--font-size-lg);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    letter-spacing: 10px;
    margin-bottom: 0.5em;
}

.package-subtitle {
    font-size: var(--font-size-md);
    font-weight: 600;
    text-transform: capitalize;
}

.packages-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.package-button-container {
    flex-basis: 100%;
    text-align: center;
}

.package-button strong {
    font-size: 1.25em;
    letter-spacing: 0.1em;
}

/* Pop-out animation */
@keyframes popOut {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.package-link {
    font-size: 1.25em;
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1em;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color var(--transition-speed), transform var(--transition-speed) ease;
    animation: popOut 0.8s ease-in-out forwards;
}

.package-link:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    /* Slightly increase the size on hover */
}

/* Media Queries */
@media (max-width: 1400px) {
    .jumbotron {
        padding-top: 25em;
    }

    h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 1200px) {
    .jumbotron {
        padding: 19em 0;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

@media (max-width: 1024px) {
    .jumbotron {
        padding-top: 45em;
    }
}

@media (max-width: 768px) {
    .jumbotron {
        padding: 12em 0;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .learn-more-button,
    .btn-service {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .lightbox-content {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .jumbotron {
        padding: 8em 1em;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .learn-more-button,
    .btn-service {
        padding: 6px 12px;
        font-size: 0.8em;
    }

    .lightbox-content {
        width: 95%;
        padding: 15px;
    }
}