/* Modal */
.custom-modal-header {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 15px;
}

.custom-modal-header .close {
    color: var(--text-color-light);
    background-color: var(--secondary-color);

}

.custom-form-label {
    color: var(--text-color);
}

.custom-button {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border: none !important;
    padding: 10px 20px !important;
    margin: 10px 10px 10px 0 !important;
    /* Margin between buttons */
}

.custom-button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color-light) !important;
    border: none !important;
}

.custom-button-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--text-color-light) !important;
    border: none !important;
    padding: 10px 20px !important;
    margin: 10px 10px 10px 0 !important;
    /* Margin between buttons */
}

.custom-button-secondary:hover {
    background-color: var(--btn-hover-dark) !important;
}

.custom-modal-body {
    padding: 20px;
}

.custom-modal-footer {
    background-color: var(--accent-color);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}