.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    /* Added padding for better spacing */
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    font-size: 1em;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-links a {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s;
}

/* Custom hover colors for each social icon */
.social-links a:hover[aria-label="Facebook"] {
    color: #3b5998;
    /* Facebook blue */
}

.social-links a:hover[aria-label="LinkedIn"] {
    color: #0077b5;
    /* LinkedIn blue */
}

.social-links a:hover[aria-label="Instagram"] {
    color: #e1306c;
    /* Instagram pink */
}

.social-links a:hover[aria-label="Tiktok"] {
    color: #010101;
    /* TikTok black */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        /* Stack sections vertically on smaller screens */
        align-items: center;
        /* Center the sections */
    }

    .footer-section {
        width: 100%;
        /* Full width for each section */
        margin: 10px 0;
        /* Adjust margin for vertical stacking */
    }

    .social-links {
        justify-content: center;
        /* Center social icons */
    }
}

.footer-bottom {
    background-color: #222;
    padding: 0.75em 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 1em;
}