/* Hero Section */
.jumbotron {
    position: relative;
    background-image: url('home_hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22em;
}

h1 {
    margin-top: 1em;
    font-size: 3rem;
    font-weight: 800;
}

p {
    font-size: 1.5rem;
    font-weight: 700;
}

.shop-now-btn {
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    text-decoration: none;
}

/* Featured Products Section */

.featured-product {
    font-size: 3em;
    color: #F2921D;
    font-weight: 700;
    font-style: italic;
    padding: 0.5em;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    height: 350px;
    /* Adjust height as needed */
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
    color: #777;
}

/* Media Queries */

@media (max-width: 2000px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 31em;
    }
}

@media (max-width: 1400px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 20em;
    }
}

@media (max-width: 1200px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 19em;
    }
}

@media (max-width: 915px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 16em;
    }
}

@media (max-width: 768px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 11em;
    }

    .card {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 8em;
    }

}

@media (max-width: 375px) {
    .jumbotron {
        max-width: 100%;
        height: auto;
        padding: 7em;
    }

}