:root {
  --primary-color: #3267B4;
  /* Blue */
  --btn-hover: #383736;
  /* Dark Gray */
  --btn-hover-light: #d3d3d3;
  /* Light Grey for hover */
  --secondary-color: #030102;
  /* Black */
  --text-color: #383736;
  /* Dark Gray */
  --text-color-light: #ffffff;
  /* White */
  --accent-color: #F06D1A;
  /* Orange */
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  /* White background */
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--primary-color) !important;
  /* Blue */
  text-align: center;
}

h2 {
  color: var(--primary-color) !important;
  /* Blue */
  text-align: justify !important;
  font-size: 2.5em !important;
  font-weight: 700 !important;
}

h3 {
  line-height: 2em !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  padding: 0.75em;
  font-size: 1em;
  font-weight: 700;
  border-radius: 0.75em;
}

.custom-button:hover {
  background-color: var(--btn-hover-light) !important;
  color: var(--text-color-light);
}

.custom-button,
.custom-button-secondary {
  margin-left: 0px;
}

.main-content {
  flex: 1;
}

/* ProductPage */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover .card-title,
.card:hover .card-text {
  color: var(--accent-color);
  /* Orange */
}

/* ======= WhatsAppWidget ======= */
.custom-whatsapp-widget {
  /* Customize the button appearance */
  --whatsapp-widget-background-color: #25D366;
  /* WhatsApp green */
  --whatsapp-widget-icon-color: #fff;
  /* White icon */
  --whatsapp-widget-button-size: 60px;
  /* Button size */
  --whatsapp-widget-button-border-radius: 50%;
  /* Circular button */
  --whatsapp-widget-button-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Shadow */

}

/* Additional custom styles */
.custom-whatsapp-widget .whatsapp-widget-button {
  background-color: var(--whatsapp-widget-background-color);
  color: var(--whatsapp-widget-icon-color);
  width: var(--whatsapp-widget-button-size);
  height: var(--whatsapp-widget-button-size);
  border-radius: var(--whatsapp-widget-button-border-radius);
  box-shadow: var(--whatsapp-widget-button-box-shadow);

  position: fixed;
  left: 20px;
  /* Move to the left */
  bottom: 20px;
  /* Stay at the bottom */
  z-index: 1000;
  /* Make sure it appears above other content */
}

._2qp0Z {
  position: fixed;
  left: 1.5em;
  /* Move to the left */
  bottom: 1.5em;
  /* Stay at the bottom */
  z-index: 1000;
  /* Make sure it appears above other content */

}